.Ptitle{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:100px;
}

.Ptitle img{
    height:500px
}

.titleText{
    font-family:serif;
}
.titleText h1{
    font-family:serif;
}

.table{
    display:flex;
    margin:100px;
    align-items:center;
    justify-content: center;

}
table  {
    
  }
   
  table th {
    border: 1px solid #000;
  }
  table td {
    border: 1px solid #000;
  }