.aboutmeback{
    display:flex;
    flex-direction:low;
    justify-content:center;
    align-items:center;
    width:100%;
    margin:50px;
    
}


.aboutmeBox{
    display:flex;
    flex-direction:low;
    justify-content:center;
    align-items:center;
    gap:100px;
    width:80%;
    
}



.about-me img{
    height:300px;
    background-color: #e1cabba4;
    border-radius:300px;
}

.aboutmetext{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.aboutmetextName{
    font-weight: bold;
    font-size:2rem;

}