@font-face {
    font-family: 'Zen';
    src: url('../Public/fonts/ZenKakuGothicNew-Regular.ttf') format('truetype');
    }

.header {
    background-color: #e1cabba4;
    height: 50px;
    padding: 20px;
    text-align: center;
    
}
.logo{
    font-family: 'Zen';
    float:left ;
    font-size: 2rem;
}
.navbar {
    float: right;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.navbar a, .navbar button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar button:hover, .navbar a:hover {
    color: #007BFF;
}
.headerbottom{
    height: 10px;
}